* {
    /*清空内外边距*/
    margin: 0;
    padding: 0;
    /*禁止选择*/
    user-select: none;
}
body {
    /*透视距离*/
    perspective: 1600px;
    width: 100%;
    /*占据100%的视窗高度*/
    height: 100vh;
    /*为主体设置弹性布局，所有子盒子默认以X轴横向排列*/
    display: flex;
    /*设置主体内的子元素以X轴居中对齐*/
    justify-content: center; 
    /*设置主题内子元素在恻轴排列方式为相邻居中*/
    align-items: center;
    /*设置背景渐变的起始角度与渐变颜色*/
    background-image: linear-gradient(120deg, #40b3ff, #d97aff);
}
p {
    /*设置字体大小为1.2个根元素的字体大小*/
    font-size: 1.3rem;
}
.card {
    /*相对定位，子绝父相*/
    position: relative;
    /*为盒子内的子元素开启3D立体空间*/
    transform-style: preserve-3d;
    width: 300px;
    height: 300px;
    margin-right: 10px;
    /*鼠标样式为小手*/
    cursor: pointer;
    background-color: white;
    /*设置阴影（位置，模糊距离，颜色）*/
    /*box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.05);*/
    /*设置动画属性：名称，过渡时间，线性，起始时间，次数，结束状态*/
    animation: rotate 1s cubic-bezier(.76, -0.51, .29, 1.5) 1s infinite forwards;
}
/*
.card:active {
*/
    /*设置动画属性：名称，过渡时间，线性，起始时间，次数，结束状态*/
    /*animation: rotate 1s cubic-bezier(.76, -0.51, .29, 1.5) 1s infinite forwards;
}
*/
.card_font, .card_back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    background-color: #fff;
}
.card_font {
    /*绝对定位*/
    position: absolute;
}
/*背面卡片翻转180deg*/
.card_back {
    transform-style: preserve-3d;
    transform: rotateX(180deg);
}
@keyframes rotate {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(180deg);
    }
}
@keyframes rotate-reverse {
    to {
        transform: rotateX(0deg);
    }
    from {
        transform: rotateX(180deg);
    }
}
.pic {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
    background-color: white;
}
.source {
    width: 100%;
    height: 100%;
    background-color: blue;
}
.target {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    background-color: red;
    animation: updown 1s ease 
}
@keyframes updown {
    from {
	transform: translateY(100%);
    }
    to {
	transform: translateY(-100%);
    }
}


