html {
  background-image: url("bg.gif");
}
body {
  margin: 0px;
}
.titleDark {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #242424;
  border: solid 1px #242424;
}
select {
  position: absolute;
  top: 10px;
  right: 10px;
}
.selDark {
  color: darkgray;
  background-color: #242424;
}
.selLight {
  background-color: aliceblue;
}
#title_center {
  width: 300px;
  margin: auto;
  margin-top: 20%;
}
h1 {
  font-weight: bold;
  text-align: center;
}
input:focus {
  outline: none;
  /*-webkit-tap-highlight-color:rgba(0,0,0,0);*/
  /*-webkit-user-modify:read-write-plaintext-only;*/
}
#lineEdit {
  width: 300px;
  height: 40px;
  font-size: 24px;
  color: dimgrey;
  background-color: #242424;
  border: solid 1px black;
  border-radius: 15px;
  padding-left: 32px;
}
.search {
  position: relative;
  width: 33px;
  height: 33px;
  background-color: transparent;
  background-image: url("search.png");
  background-repeat: no-repeat;
  border: solid 0px;
  bottom: 36px;
  left: 3px;
}
.search_hover {
  position: relative;
  width: 33px;
  height: 33px;
  background-color: transparent;
  background-image: url("search_hover.png");
  background-repeat: no-repeat;
  border: solid 0px;
  bottom: 36px;
  left: 3px;
}
#fristImage {
  width: 650px;
  margin: auto;
  margin-top: 20px;
  border: solid 1px aliceblue;
  border-top: solid 5px red;
  background: rgba(192, 192, 192, 0.7);
}
img {
  width: 650px;
  height: 300px;
}
